@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins" !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bgColor-blue: #1C1E53;
  --bgColor-lightblue: #F4F6FC;
  --bgColor-yellow: #FCD980;
  --bgColor-white: #FFFFFF;
  --bgColor-grey: #F4F5F5;
  --fontColor-black: #282938;
  --fontColor-darkblue: #1D2130;
  --fontColor-grey: #BBBBCB;
  --fontColor-white: #FFFFFF;
  --fontColor-blue: #2405F2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1320px !important;
  margin: 0 auto !important;
  padding: 0px 20px;
}

nav {
  background-color: var(--bgColor-blue);
  color: white;
  height: 100px;
  z-index: 99999999;
  transition: height 0.2s linear;
  -webkit-transition: height 0.2s linear;
  -moz-transition: height 0.2s linear;
  -ms-transition: height 0.2s linear;
  -o-transition: height 0.2s linear;
}

nav.shrink {
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

nav .offcanvas-header {
  background-color: var(--bgColor-blue);
}

nav .offcanvas-header button.btn-close {
  color: white !important;
}

nav button.navbar-toggler {
  border: none;
}

nav button.navbar-toggler .navbar-toggler-icon {
  background-image: url("/images/navtoggle.png") !important;
  width: 50px;
  height: 50px;
}

nav .offcanvas-body {
  background-color: var(--bgColor-blue);
}

nav .offcanvas-body ul li {
  --bs-nav-link-hover-color: white !important;
}

nav .offcanvas-body ul li button {
  font-size: 16px;
  font-weight: 500;
  width: 185px;
  height: 60px;
  color: var(--fontColor-white);
  border: 2px solid rgba(244, 246, 252, 0.2);
  background-color: transparent;
  border-radius: 41px;
  -webkit-border-radius: 41px;
  -moz-border-radius: 41px;
  -ms-border-radius: 41px;
  -o-border-radius: 41px;
}

nav .offcanvas-body ul li:hover {
  color: var(--fontColor-white) !important;
}

nav .offcanvas-body ul li a {
  color: #BBBBCB;
}

nav .offcanvas-body ul li a.active {
  color: var(--fontColor-white) !important;
}

nav .offcanvas-body ul li a:hover {
  color: var(--fontColor-white);
}

footer {
  background-color: var(--bgColor-blue);
  color: white;
}

@media (max-width: 992px) {
  footer .footer__wrapper-right {
    width: 100% !important;
  }
}
footer .footer__wrapper-right p {
  max-width: 400px;
  color: var(--fontColor-white);
  opacity: 0.8;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 992px) {
  footer .footer__wrapper-left {
    width: 100% !important;
  }
}
footer .footer__wrapper-left p {
  max-width: 400px;
  color: var(--fontColor-white);
  opacity: 0.8;
  font-size: 16px;
  font-weight: 400;
}

footer .footer__wrapper-left-contact {
  background-color: var(--bgColor-yellow);
  min-width: 250px;
}

.loader {
  width: 100%;
  height: 100vh;
  background-color: var(--bgColor-blue);
  position: fixed;
  z-index: 10000000000000000;
}

.loader .ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff000;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loader .ring .ring:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.loader .ring span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.loader .ring span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #fff000;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
#contact {
  padding: 0 10px;
  margin: 50px 0;
}

label {
  color: #000;
}

.form-control,
textarea {
  background: #f4f6fc;
  padding: 15px 25px;
}

.form-control::-moz-placeholder, textarea::-moz-placeholder {
  color: #000;
}

.form-control::placeholder,
textarea::placeholder {
  color: #000;
}

.content-descr-box {
  display: flex;
  justify-content: center;
}

.content-descr {
  max-width: 562px;
}

@media (max-width: 1300px) {
  .content-descr {
    padding: 0;
  }
}