@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins" !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bgColor-blue: #1C1E53;
  --bgColor-lightblue: #F4F6FC;
  --bgColor-yellow: #FCD980;
  --bgColor-white: #E5E5E5;
  --bgColor-grey: #F4F5F5;
  --fontColor-black: #282938;
  --fontColor-darkblue: #1D2130;
  --fontColor-grey: #BBBBCB;
  --fontColor-white: #FFFFFF;
  --fontColor-blue: #2405F2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1320px !important;
  margin: 0 auto !important;
  padding: 0px 20px;
}

nav {
  background-color: var(--bgColor-blue);
  color: white;
  height: 100px;
  z-index: 99999999;
}
nav .offcanvas-header {
  background-color: var(--bgColor-blue);
}
nav .offcanvas-header button.btn-close {
  color: white !important;
}
nav button.navbar-toggler {
  border: none;
}
nav button.navbar-toggler .navbar-toggler-icon {
  background-image: url("/images/navtoggle.png") !important;
  width: 50px;
  height: 50px;
}
nav .offcanvas-body {
  background-color: var(--bgColor-blue);
}
nav .offcanvas-body ul li {
  --bs-nav-link-hover-color: white !important;
}
nav .offcanvas-body ul li button {
  font-size: 16px;
  font-weight: 500;
  width: 185px;
  height: 60px;
  color: var(--fontColor-white);
  border: 2px solid rgba(244, 246, 252, 0.2);
  background-color: transparent;
  border-radius: 41px;
  -webkit-border-radius: 41px;
  -moz-border-radius: 41px;
  -ms-border-radius: 41px;
  -o-border-radius: 41px;
}
nav .offcanvas-body ul li:hover {
  color: var(--fontColor-white) !important;
}
nav .offcanvas-body ul li a {
  color: #BBBBCB;
}
nav .offcanvas-body ul li a.active {
  color: var(--fontColor-white) !important;
}
nav .offcanvas-body ul li a:hover {
  color: var(--fontColor-white);
}

.plan__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins";
  background-color: greenyellow;
}
.plan__container > .plan__container--title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-transform: uppercase;
  font-family: "Poppins";
  padding-top: 128px;
  color: var(--fontColor-black);
}
.plan__container > .plan__container--desc {
  max-width: 562px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}
.plan__container .plan__container__box {
  padding-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 32px;
}
.plan__container .plan__container__box .plan__container__box--card {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  background: #f4f6fc;
  border-radius: 12px;
  padding: 64px 76px 62px 48px;
  transition: 0.5s;
}
.plan__container .plan__container__box .plan__container__box--card .span {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.plan__container .plan__container__box .plan__container__box--card .span span:first-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: var(--fontColor-black);
}
.plan__container .plan__container__box .plan__container__box--card .span span:first-child a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--fontColor-blue);
}
.plan__container .plan__container__box .plan__container__box--card h6 {
  padding-top: 20px;
  padding-bottom: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--fontColor-black);
}
.plan__container .plan__container__box .plan__container__box--card p {
  max-width: 281px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: var(--fontColor-black);
  opacity: 0.7;
  padding-bottom: 41px;
}
.plan__container .plan__container__box .plan__container__box--card ul {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 70px;
}
.plan__container .plan__container__box .plan__container__box--card ul li {
  margin-left: -35px;
  list-style-position: inside;
  list-style-image: url(../images/pricing/play-icon.svg);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--fontColor-black);
}
.plan__container .plan__container__box .plan__container__box--card button {
  padding: 15px 51px;
  width: 254px;
  background: var(--fontColor-black);
  border-radius: 41px;
}
.plan__container .plan__container__box .plan__container__box--card button a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: var(--bgColor-lightblue);
}
.plan__container .plan__container__box .plan__container__box--card:hover a {
  color: var(--bgColor-yellow);
}
.plan__container .plan__container__box .plan__container__box--card:hover h6,
.plan__container .plan__container__box .plan__container__box--card:hover p,
.plan__container .plan__container__box .plan__container__box--card:hover li {
  color: #FFFFFF;
}
.plan__container .plan__container__box .plan__container__box--card:hover span:first-child {
  color: #fff;
}
.plan__container .plan__container__box .plan__container__box--card:hover button {
  background: #FCD980;
}
.plan__container .plan__container__box .plan__container__box--card:hover button a {
  color: var(--fontColor-blackh);
}
.plan__container .plan__container__footer {
  width: 100%;
  padding-top: 128px;
  padding-bottom: 300px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
}
.plan__container .plan__container__footer .plan__container__footer--title h2 {
  max-width: 406px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}
.plan__container .plan__container__footer .plan__container__footer--title a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: var(--fontColor-blue);
}
.plan__container .plan__container__footer .plan__container__footer--accordion {
  width: calc(100% - 450px);
}
.plan__container .plan__container__footer .plan__container__footer--accordion .accordion-custom h2 button {
  background-color: #fff;
}
.plan__container .plan__container__footer .plan__container__footer--accordion .accordion-custom h2 button span:first-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--fontColor-blue);
}
.plan__container .plan__container__footer .plan__container__footer--accordion .accordion-custom h2 button span:last-child {
  margin-left: 33px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--fontColor-black);
}
.plan__container .plan__container__footer .plan__container__footer--accordion .accordion-custom .accordion-body {
  margin-left: 56px;
  padding-top: 16px;
  padding-bottom: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: var(--fontColor-black);
  opacity: 0.87;
}
.plan__container .plan__container__footer .plan__container__footer--accordion .accordion-custom .accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: url(../images/pricing/plus-icon.svg);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
.plan__container .plan__container__footer .plan__container__footer--accordion .accordion-custom .accordion-button:not(.collapsed)::after {
  background-image: url(../images/pricing/plus-icon.svg);
  transform: rotate(405deg);
}