@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bgColor-blue: #1C1E53;
  --bgColor-lightblue: #F4F6FC;
  --bgColor-yellow: #FCD980;
  --bgColor-white: #FFFFFF;
  --bgColor-grey: #F4F5F5;
  --fontColor-black: #282938;
  --fontColor-darkblue: #1D2130;
  --fontColor-grey: #BBBBCB;
  --fontColor-white: #FFFFFF;
  --fontColor-blue: #2405F2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1320px !important;
  margin: 0 auto !important;
  padding: 0px 20px;
}

.plan__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins";
  background-color: greenyellow;
}
.plan__container > .plan__container--title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-transform: uppercase;
  font-family: "Poppins";
  padding-top: 128px;
  color: var(--fontColor-black);
}
.plan__container > .plan__container--desc {
  max-width: 562px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}
.plan__container .plan__container__box .plan__container__box--card {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  background: #f4f6fc;
  padding: 64px 76px 62px 48px;
}
.plan__container .plan__container__box .plan__container__box--card .span {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.plan__container .plan__container__box .plan__container__box--card .span span:first-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: var(--fontColor-black);
}
.plan__container .plan__container__box .plan__container__box--card .span span:first-child a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--fontColor-blue);
}
.plan__container .plan__container__box .plan__container__box--card h6 {
  padding-top: 20px;
  padding-bottom: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--fontColor-black);
}
.plan__container .plan__container__box .plan__container__box--card p {
  max-width: 281px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: var(--fontColor-black);
  opacity: 0.7;
  padding-bottom: 78px;
}
.plan__container .plan__container__box .plan__container__box--card ul {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 22px;
  padding-bottom: 80px;
}
.plan__container .plan__container__box .plan__container__box--card ul li {
  margin-left: -35px;
  list-style-position: inside;
  list-style-image: url(../images/pricing/play-icon.svg);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--fontColor-black);
}
.plan__container .plan__container__box .plan__container__box--card button {
  padding: 15px 51px;
  width: 254px;
  background: var(--fontColor-black);
  border-radius: 41px;
}
.plan__container .plan__container__box .plan__container__box--card button a {
  color: var(--bgColor-lightblue);
}