@use "../utils/variables" as var;

nav{
    background-color: var(--bgColor-blue);
    color: white;
    height: 100px;
    z-index: 99999999;
    transition: height .2s linear;
    -webkit-transition: height .2s linear;
    -moz-transition: height .2s linear;
    -ms-transition: height .2s linear;
    -o-transition: height .2s linear;
    &.shrink{
        height: 80px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .offcanvas-header{
        background-color: var(--bgColor-blue);
        button.btn-close{
            color: white !important;
        }
    }
    button.navbar-toggler{
        border: none;
        .navbar-toggler-icon{
            background-image: url('/images/navtoggle.png') !important;
            width: 50px;
            height: 50px;
        }
    }
    .offcanvas-body{
        background-color: var(--bgColor-blue);
        ul{
            li{
                button{
                    font-size: var.$fonts16;
                    font-weight: 500;
                    width: 185px;
                    height: 60px;
                    color: var(--fontColor-white);
                    border: 2px solid #F4F6FC33;
                    background-color: transparent;
                    border-radius: 41px;
                    -webkit-border-radius: 41px;
                    -moz-border-radius: 41px;
                    -ms-border-radius: 41px;
                    -o-border-radius: 41px;
                }
                --bs-nav-link-hover-color: white !important;
                &:hover{
                    color: var(--fontColor-white) !important;
                }
                a{
                    color: #BBBBCB;
                    &.active{
                        color: var(--fontColor-white) !important;
                    }
                    &:hover{
                        color: var(--fontColor-white);
                    }
                }
            }
        }
    }
}