*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' !important;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root{
    --bgColor-blue: #1C1E53;
    --bgColor-lightblue: #F4F6FC;
    --bgColor-yellow: #FCD980;
    --bgColor-white: #FFFFFF;
    --bgColor-grey: #F4F5F5;
    --fontColor-black: #282938;
    --fontColor-darkblue: #1D2130;
    --fontColor-grey: #BBBBCB;
    --fontColor-white: #FFFFFF;
    --fontColor-blue: #2405F2;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}