@use "../global";
@use "../utils/mixins" as mix;

.blog_header {
  padding-top: 128px;
  padding-bottom: 128px;
  @include mix.df(center, center, column);

  h2 {
    @include mix.title-2;
    max-width: 949px;
    padding-bottom: 16px;
  }
  img{
    width: 100%;
  }
  p {
    @include mix.title(500, 16px, 28px);
    span {
      opacity: 0.87;
    }
  }

  .under_img {
    font-weight: 400px;
    opacity: 0.7;
    max-width: 831px;
    padding-top: 48px;
    padding-bottom: 16px;
  }
  p,
  h2 {
    text-transform: none;
    text-align: center;
    color: var(--fontColor-black);
    width: 100%;
  }
  a {
    @include mix.title(400, 16px, 28px);
    text-transform: none;
    color: var(--fontColor-blue);
  }
}

.blog_main {
  @include mix.df(center, center, column);
  padding-bottom: 64px;
  h2 {
    @include mix.title-5;
    text-transform: none;
    text-align: center;
    color: var(--fontColor-black);
    width: 100%;
    padding-bottom: 48px;
  }
  

  .blog_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
    .blog_content {
        padding-bottom: 64px;
      img {
        width: 100%;
      }

      .date {
        
        padding-top: 32px;
        padding-bottom: 16px;
        

      }
      h5 {
        @include mix.title(500, 24px, 36px);
        text-transform: none;
        color: var(--fontColor-black);
        padding-bottom: 16px;
      }

     
      .body_text, .date {
        @include mix.title(500, 16px, 28px);
        text-transform: none;
        color: var(--fontColor-black);
        opacity: 0.7;
      }
      .body_text{
        font-weight: 400px;
        padding-bottom: 24px;
      }
      a{
        @include mix.title(500, 16px, 28px);
        text-transform: none;
        color: var(--bgColor-blue);
      }

    }
  }
}


@media (max-width:800px) {
    .blog_header h2{
        font-size: 34px;
    }
  .blog_main  {
      .blog_container{
        grid-template-columns: 1fr 1fr;
      }
      
  }
    

@media (max-width:550px) {
    .blog_header h2{
        font-size: 30px;
        line-height: 40px;
    }
}
  .blog_main  {
      .blog_container{
        grid-template-columns: 1fr;
      }
      
  }
    
}