@use "../utils/variables" as var;
@import "../global";

#contact {
  padding: 0 10px;
  margin: 50px 0;
}

label {
  color: #000;
}

.form-control,
textarea {
  background: #f4f6fc;
  padding: 15px 25px;
}

.form-control::placeholder,
textarea::placeholder {
  color: #000;
}

.content-descr-box {
  display: flex;
  justify-content: center;
}

.content-descr {
  max-width: 562px;
}
@media (max-width: 1300px) {
  .content-descr {
    padding: 0;
  }
}
