@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@import "../global";

.hero{
    background-color: var(--bgColor-blue);
    padding-top: 11rem;
    padding-bottom: 11rem;
    @media (max-width: 1200px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    &__wrapper{
        @include df(center, center, row);
        margin: 0;
        justify-content: center;
        align-items: center;
        @media (max-width: 1200px) {
        gap: 2rem;
        }
        &-text{
            gap: 24px;
            h1{
                color: var(--fontColor-white);
                font-size:  $fonts54;
                font-weight: 600;
                max-width: 582px;
            }
            p{
                font-size:  $fonts16;
                font-weight: 500;
                color: var(--fontColor-white);
            }
            &-buttons{
                gap: 5px;
                button{
                    background-color: transparent;
                    color: var(--fontColor-white);
                    border-radius: 41px;
                    -webkit-border-radius: 41px;
                    -moz-border-radius: 41px;
                    -ms-border-radius: 41px;
                    -o-border-radius: 41px;
                    &:first-child{
                        width: 230px;
                        height: 64px;
                        background-color: var(--bgColor-yellow);
                        color: black;
                        &:hover{
                            background-color: rgba(255, 219, 129, 0.809);
                            transition: .1s linear;
                            -webkit-transition: .1s linear;
                            -moz-transition: .1s linear;
                            -ms-transition: .1s linear;
                            -o-transition: .1s linear;
                        }
                    }
                    &:last-child{
                        width: 230px;
                        height: 64px;
                        transition: border .1s linear;
                        -webkit-transition: border .1s linear;
                        -moz-transition: border .1s linear;
                        -ms-transition: border .1s linear;
                        -o-transition: border .1s linear;
                        &:hover{
                            border: 2px solid var(--bgColor-yellow);
                        }
                    }
                }
            }
        }
        &-photo{
            width: 50%;
            height: 400px;
            @media (max-width: 1200px) {
                width: 100%;
            }
            @media (max-width: 768px) {
                height: 300px;
            }
            @media (max-width: 550px) {
                height: 200px;
            }
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 631px;
                object-fit: contain;
                @media (max-width: 1200px) {
                }
                @media (max-width: 768px) {
                    width: 500px;
}
                @media (max-width: 550px) {
                    width: 300px;
}
            }
        }
    }
}

.projects{
    background-color: var(--bgColor-white);
    padding-top: 5rem;
    padding-bottom: 5rem;
    &__wrapper{
        &-text{
            svg{
                path{
                    fill: black !important;
                }
            }
        }
        &-content{
            @include df;
            &-large{
                width: 75% !important;
                overflow: hidden;
                cursor: pointer;
                position: relative;
                @media (max-width: 992px) {
                    width: 100% !important;
                    margin-bottom: 1rem;
                }
                img{
                    width: 100% !important;
                    height: 100%;
                }
                &-hover{
                    width: 0%;
                    height: 100%;
                    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
                    position: absolute;
                    overflow: hidden;
                    transition: all .3s linear;
                    -webkit-transition: all .3s linear;
                    -moz-transition: all .3s linear;
                    -ms-transition: all .3s linear;
                    -o-transition: all .3s linear;
                    padding-left: 0;
                    padding-right: 0;
                    padding-bottom: 50px;
                    svg{
                        path{
                            fill: var(--bgColor-yellow);
                        }
                    }
                    h1,p{
                        color: white;
                        opacity: 0;
                        transition: opacity 0.1s linear;
                        -webkit-transition: opacity 0.1s linear;
                        -moz-transition: opacity 0.1s linear;
                        -ms-transition: opacity 0.1s linear;
                        -o-transition: opacity 0.1s linear;
                        transition-delay: .3s;
                    }
                    h1{
                        font-size:  $fonts24;
                        font-weight: 600;
                        line-height: 36px;
                    }
                    p{
                        font-size:  $fonts16;
                        font-weight: 500;
                    }
                }
                &:hover{
                    .projects__wrapper-content-large-hover{
                        width: 50%;
                        padding-left: 48px;
                        padding-right: 35px;
                        h1, p {
                            opacity: 1;
                        }
                    }
                }
            }
            &-smalls{
                width: 40% !important;
                gap: 3rem;
                @media (max-width: 992px) {
                    width: 100% !important;
                    gap: 1rem;
                }
                &-small{
                    width: 95% !important;
                    cursor: pointer;
                    position: relative;
                    height: 50%;
                    @media (max-width: 992px) {
                        height: 300px !important;
                        gap: 1rem;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    &-hover{
                        width: 0%;
                        height: 100%;
                        background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
                        position: absolute;
                        overflow: hidden;
                        transition: all .3s linear;
                        -webkit-transition: all .3s linear;
                        -moz-transition: all .3s linear;
                        -ms-transition: all .3s linear;
                        -o-transition: all .3s linear;
                        padding-left: 0;
                        padding-right: 0;
                        padding-bottom: 50px;
                        @media (max-width: 992px) {
                            padding-bottom: 10px;
                        }
                        svg{
                            path{
                                fill: var(--bgColor-yellow);
                            }
                        }
                        h1,p{
                            color: white;
                            opacity: 0;
                            transition: opacity 0.1s linear;
                            -webkit-transition: opacity 0.1s linear;
                            -moz-transition: opacity 0.1s linear;
                            -ms-transition: opacity 0.1s linear;
                            -o-transition: opacity 0.1s linear;
                            transition-delay: .3s;
                        }
                        h1{
                            font-size:  $fonts24;
                            font-weight: 600;
                            line-height: 36px;
                        }
                        p{
                            font-size:  $fonts16;
                            font-weight: 500;
                        }
                    }
                    &:hover{
                        .projects__wrapper-content-smalls-small-hover{
                            width: 100%;
                            padding-left: 48px;
                            padding-right: 35px;
                            h1, p {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}
.features{
    background-color: var(--bgColor-lightblue);
    padding-top: 5rem;
    padding-bottom: 5rem;
    &__wrapper{
        p{
            font-size:  $fonts16;
            font-weight: 500;
            color: var(--fontColor-black);
        }
        h1{
            max-width: 630px;
            font-size:  $fonts48;
            font-weight: 600;
            line-height: 64px;
            @media (max-width: 768px) {
                font-size:  $fonts32;
                font-weight: 700;
                line-height: 48px;
            }
        }
        .row{
            .col-sm-6{
                min-width: 250px !important;
                position: relative;
                overflow: hidden;
                z-index: 0;
                cursor: pointer;
                i{
                    color: white;
                    font-size:  $fonts48;
                }
                h4{
                    margin-top: 2rem !important;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: var(--bgColor-blue);
                    z-index: -1;
                    clip-path: circle(7rem at 0% 5%);
                    transition: .3s linear;
                    -webkit-transition: .3s linear;
                    -moz-transition: .3s linear;
                    -ms-transition: .3s linear;
                    -o-transition: .3s linear;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    right: 0;
                    background-color: var(--bgColor-blue);
                    z-index: -1;
                    clip-path: circle(7rem at 100% 100%);
                    transition: .3s linear;
                    -webkit-transition: .3s linear;
                    -moz-transition: .3s linear;
                    -ms-transition: .3s linear;
                    -o-transition: .3s linear;
                }
                &:hover::before{
                    clip-path: circle(100%);
                }
                &:hover::after{
                    clip-path: circle(100%);
                }
                &:hover {
                    h4, p{
                        color: white;
                        transition: color .3s linear;
                        -webkit-transition: color .3s linear;
                        -moz-transition: color .3s linear;
                        -ms-transition: color .3s linear;
                        -o-transition: color .3s linear;
}
                }
            }
        }
    }
}
.clients{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--bgColor-lightblue) opacity(5);
    .clients__wrapper{
        &-text{
            @media (max-width: 991px) {
                width: 100% !important;
            }
        }
        &-carousel{
            @media (max-width: 991px) {
                width: 100% !important;
            }
            &-text{
                gap: 2rem !important;
            }
            .owl-carousel{
                position: relative;
                .owl-nav{
                    width: 100px;
                    position: absolute;
                    right: 0;
                    bottom: 25px;
                    .owl-next, .owl-prev{
                        background-color: var(--bgColor-blue);
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        font-size: $fonts18;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        color: white;
                    }
                }
                .item{
                    gap: 2rem;
                    padding: 1rem;
                    h4{
                        font-size: $fonts32;
                        font-weight: 500;
                        line-height: 48px;
                        color: var(--fontColor-black);
                    }
                    .client{
                        gap: 1rem;
                        h5{
                            font-size: $fonts18;
                            font-weight: 500;
                            color: var(--fontColor-black);
                        }
                        p{
                            font-size:  $fonts12;
                            font-weight: 500;
                            color: var(--fontColor-black);
                        }
                        div{
                            margin: 0;
                            padding: 0;
                            h5, p{
                                margin: 0;
                                padding: 0;
                            }
                        }
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}